<nav class="{{main.mainColor}}">
  <div class="nav-wrapper">
    <a routerLink="/dashboard" class="brand-logo center" id="title-logo"><img id="imageLogo" src="{{main.pathImages}}biofarma-logo-text.png"/></a>
    <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li class="active"><a  routerLink="/dashboard" >Inicio</a></li>
      <li><a routerLink="/date" >Citas</a></li>
      <li><a routerLink="/sales" >Ofertas</a></li>
      <li><a routerLink="/contact" >Contacto</a></li>
      <li><a routerLink="/admin-products" >Administración productos</a></li>
      <li><a routerLink="/admin-users" >Gestion de administradores</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li class="active"><a routerLink="/dashboard" >Inicio</a></li>
      <li><a routerLink="/date" >Citas</a></li>
      <li><a routerLink="/sales" >Ofertas</a></li>
      <li><a routerLink="/contact" >Contacto</a></li>
      <li><a routerLink="/admin-products" >Administración productos</a></li>
      <li><a routerLink="/admin-users" >Gestion de administradores</a></li>
    </ul>
  </div>
</nav>
