<!--The content below is only a placeholder and can be replaced.-->
<nav class="{{mainColor}}">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">{{title}}</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#" >Citas</a></li>
      <li><a href="#" >Ofertas</a></li>
      <li><a href="#" >Contacto</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="collapsible.html">Citas</a></li>
      <li><a href="badges.html">Ofertas</a></li>
      <li><a href="mobile.html">Contacto</a></li>
    </ul>
  </div>
</nav>
<app-dashboard></app-dashboard>
<footer class="page-footer {{footerColor}}">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                  <div class="row">
                    <h5 class="white-text ">Redes sociales</h5>
                  </div>
                  <div class="row">
                    <div class="left">
                        <a class="grey-text text-lighten-3 valign-wrapper" href="#!"><img id="icon" class="responsive-img" src="assets/images/facebook.png" alt=""> Facebook</a>
                    </div>
                  </div>
              </div>
              <div class="col l4 offset-l2 s12">
                  <div class="row">
                    <h5 class="white-text">Contactanos</h5>
                  </div>
                  <div class="row grey-text text-lighten-3">
                      <p>Vicente Riva Palacio 889, Anáhuac, 58630 Anáhuac, Mich.</p>
                      <div class="left">
                          <a class="grey-text text-lighten-3 valign-wrapper" href="#!"><img id="icon" class="responsive-img" src="assets/images/whatsapp.png" alt=""> 44-33-49-77-98</a>
                      </div>
                  </div>


              </div>
            </div>
          </div>
          <div class="footer-copyright {{iconColor}}  ">
            <div class="container valign-wrapper">
                <a class="grey-text text-lighten-4" target="_blank" href="https://www.facebook.com/emmanuel.garcia.75248"><img id="icon" class="responsive-img" src="assets/images/facebook.png" alt=""></a>
                © 2018 Emmanuel García Gutiérrez
          </div>
        </div>
</footer>
